<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/outcome.css">
    <title> PHISHING OUTCOME PAGE </title>
</head>
<body>  
    </div>
    <div class="outcome">
        <h2> Warning! </h2> 
        <h1>A Potential Phishing Threat has Been <br> Detected for The Provided URL ! </h1>
        <div>
            <button type="button"><span></span> SEE DETAIL </button>
            <button type="button"><span></span> BACK </button>
        </div>
    </div>
    
</body>
</html>