<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <!----------------------------- CSS ----------------------------->

    <link href="static/css/style.css" rel="stylesheet">

    <!------------------------- Boxicons CSS ------------------------>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>


    <title> Feedback Page </title>
</head>
<body>
    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="{{ url_for('static', filename='img/smallphishtitanlogo.png') }}" alt="logo">
                </span>

                <div class="text header-text">
                    <span class="name"> PhishTitan </span>
                    <span class="profession"> Software </span>
                </div>
            </div>

            <i class='bx bx-chevron-right toggle'></i>
        </header>

        <div class="menu-bar">
            <div class="menu">
                <li class="search-box">
                    <i class='bx bx-search icon' ></i>
                        <input type="" placeholder="Search...">
                </li>
                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="/index">
                            <i class='bx bxs-home icon'></i>
                            <span class="text nav-text"> Home Page </span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="/profile">
                            <i class='bx bxs-user icon' ></i>
                            <span class="text nav-text"> User Profile </span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="/dashboard">
                            <i class='bx bxs-dashboard icon'></i>
                            <span class="text nav-text"> Dashboard </span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="/publishfeedback">
                            <i class='bx bx-list-ul icon'></i>
                            <span class="text nav-text"> Publish Feedback </span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="/feedback">
                            <i class='bx bxs-comment icon'></i>
                            <span class="text nav-text"> Users Feedback </span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="/contact">
                            <i class='bx bxs-phone icon' ></i>
                            <span class="text nav-text"> Contact Us </span>
                        </a>
                    </li>
                </ul>
            </div>
            
            <div class="bottom-content">
                <li class="">
                    <li class="">
                        <a href="#" onclick="logout()">
                            <i class='bx bx-log-out icon'></i>
                            <span class="text nav-text"> Logout </span>
                        </a>
                    </li>
                </li>

                <li class="mode">
                    <div class="sun-moon">
                        <i class='bx bx-moon icon moon' ></i>
                        <i class='bx bx-sun icon sun' ></i>
                    </div>
                    <span class="mode-text text"> Dark Mode </span>

                    <div class="toggle-switch">
                        <span class="switch"></span>
                    </div>
                </li>

            </div>
        </div>
    </nav>

    <section class="settings">
        <div class="text"> Feedback </div>
        <div class="wrapper">

            <table class="container">
<!-- 
                 <tr class="box" style="font-size: 24px; font-weight: bold; text-transform: uppercase;">
                    <th>
                        <p style="padding: 20px; font-family: 'Comic Sans MS', cursive;">
                        <img src="{{ url_for('static', filename='img/smallphishtitanlogo.png') }}"  alt="logo" >
                        Name</p></th>
                    <th><p style="padding: 20px; font-family: 'Comic Sans MS', cursive;">💬 <br> Comment</p></th>
                    <th><p style="padding: 20px; font-family: 'Comic Sans MS', cursive;">⏰ <br>Time</p></th>
                </tr>
                 -->

                 <tr class="box" style=" color:red; font-size: 24px; font-weight: bold; text-transform: uppercase;">
                    <th>
                        <div style="padding: 20px;  font-family: 'Roboto'; display: flex; align-items: center;">
                            <!-- <img src="{{ url_for('static', filename='img/smallphishtitanlogo.png') }}" alt="logo" style="height: 50px; width: auto; margin-right: 10px;"> -->
                            Name
                        </div>
                    </th>
                    <th>
                        <div style="padding: 20px;  font-family: 'Roboto'; text-align: center;">
                            <!-- 💬 -->
                             Comment
                        </div>
                    </th>
                    <th>
                        <div style="padding: 20px;  font-family: 'Roboto'; text-align: center;">
                            <!-- ⏰ -->
                            Time
                        </div>
                    </th>
                </tr>
                
            
                
                {% for row in rows %}
                <tr class="box">
                    <!-- Column for the logo and name -->
                    <td>
                        <div class="comment-wrapper" style="padding: 10px;">
                            <img src="{{ url_for('static', filename='img/smallphishtitanlogo.png') }}" alt="logo">
                            <p>{{ row[0] }}</p>
                        </div>
                        
                    </td>
                    <!-- Column for the comment -->
                    <td>
                        <p style="text-align: left; white-space: top; overflow: hidden; text-overflow: ellipsis; padding: 10px 10px;">{{ row[1] }}</p>
                    </td>
                    <!-- Column for the timestamp -->
                    <td><p>{{ row[2] }}</p></td>
                </tr>
                {% endfor %}
            </table
            
            
            
           
        </div>
    </section>
        
    <script src="static/js/script.js"></script>
    <script>
        function logout() {
            // Create a new form element
            var form = document.createElement('form');
            form.method = 'POST';
            form.action = '/logout'; // Specify the logout route in Flask
        
            // Create a hidden input field to mimic the behavior of a form submission
            var input = document.createElement('input');
            input.type = 'hidden';
            input.name = 'logout'; // Specify the name of the POST parameter
            input.value = 'true'; // Specify the value of the POST parameter
            form.appendChild(input);
        
            // Append the form to the document body and submit it
            document.body.appendChild(form);
            form.submit();
        }
        </script>


</body>
</html>