<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/outcome.css">
    <title> LEGITIMATE OUTCOME PAGE </title>
</head>
<body>  
    </div>
    <div class="outcome">
        <h1> This is a Legitimate URL. You Can <br> Access To This Website Safely ! </h1>
        <div>
            <button type="button"><span></span> ACCESS </button>
            <button type="button"><span></span> BACK </button>
        </div>
    </div>
    
</body>
</html>