<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="static/css/style.css" rel="stylesheet">

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>


    <title> HOME PAGE </title>
</head>
<body>
    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
        
                    <img src="{{ url_for('static', filename='img/smallphishtitanlogo.png') }}" alt="logo">
                </span>

                <div class="text header-text">
                    <span class="name"> PhishTitan </span>
                    <span class="profession"> Software </span>
                </div>
            </div>

            <i class='bx bx-chevron-right toggle'></i>
        </header>

        <div class="menu-bar">
            <div class="menu">
                <li class="search-box">
                    <i class='bx bx-search icon'></i>
                    <input type="text" id="searchInput" placeholder="Search..." disabled>
                </li>
                <ul class="menu-links">
                    <!-- <li class="nav-link">
                        <a href="index.html">
                            <i class='bx bxs-user icon' ></i>
                            <span class="text nav-text"> Home Page </span>
                        </a>
                    </li> -->
                    <!-- <li class="nav-link">
                        <a href="dashboard.html">
                            <i class='bx bxs-dashboard icon'></i>
                            <span class="text nav-text"> Dashboard </span>
                        </a>
                    </li> -->
                    <!-- <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-list-ul icon'></i>
                            <span class="text nav-text"> Phishing URL Lists </span>
                        </a>
                    </li> -->
                    <!-- <li class="nav-link">
                        <a href="settings.html">
                            <i class='bx bxs-cog icon' ></i>
                            <span class="text nav-text"> Settings </span>
                        </a>
                    </li> -->
                </ul>
            </div>
            
            <div class="bottom-content">
                <li class="">
                    <a href="/login">
                        <i class='bx bx-log-in icon' ></i>
                        <span class="text nav-text"> Login </span>
                    </a>
                </li>

                 <li class="mode">
                    <div class="sun-moon">
                        <i class='bx bx-moon icon moon' ></i>
                        <i class='bx bx-sun icon sun' ></i>
                    </div>
                    <span class="mode-text text"> Dark Mode </span>

                    <div class="toggle-switch">
                        <span class="switch"></span>
                    </div>
                </li>

            </div>
        </div>
    </nav>
    
    <section class="home">
        <div class="text"> Welcome to phishtitan! <a href="/login" style="text-decoration: none; color: red;">Please Login</a> to start.</div>


        <span class="mainlogo">
    
            <img src="{{ url_for('static', filename='img/phishtitanlogo.png') }}" alt="logo">
        </span>
        <div class="centerbox">
            <h1> Analyse suspicious URLs to detect malware </h1>
            <form>
                <input type="text" name="" placeholder="Search for a phishing URL">
                <input type="submit" name="" value="SCAN">
            </form>
    </section>

    <script src="static/js/script.js"></script>

    
<script>
    // Array of placeholder texts
    var placeholders = ["Awareness", "Caution", "Security", "Vigilance", "Diligence"];
    
    // Function to rotate through placeholders
    function rotatePlaceholders() {
        var index = 0;
        return function() {
            document.getElementById("searchInput").setAttribute("placeholder", placeholders[index]);
            index = (index + 1) % placeholders.length;
        };
    }
    
    // Rotate placeholders every 3 seconds
    setInterval(rotatePlaceholders(), 3000);
</script>


</body>
</html>